.images {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-left: 40%;
}

.container {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 19rem;
}

.image span {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.image {
  width: calc(100% / 0.6);
  object-fit: cover;
  /* vertical-align: middle; */
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.container:hover .image {
  transform: scale(1.1);
}

.loading {
  height: 90vh;
  width: 145rem;
  /* background-color: red; */
  display: grid;
  place-items: center;
  text-align: center;
  justify-content: center;
}

.loading h1 {
  color: black;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
}
